.mapbutton{
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #281414;
    z-index: 10;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid rgb(164, 164, 164);
    border-radius: 4px;
    padding: 5px;
  }